/!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		
		-# To set titles and descriptions globally and for each individual page, see /DOCS.md
		%title= page_title
		%meta{:content => "Är du THS Armadas nästa talang? Sök till gruppledare, utvecklare eller formgivare senast den 21:e april!", :name => "description"}
		%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}
		%meta{:content => "Ansökan till THS Armada har öppnat! | Armada.nu", :property => "og:title"}/
		%meta{:content => 'images/logo.png', :property => "og:image"}/
		%meta{:content => "Är du THS Armadas nästa talang? Sök till Armada senast den 21:e april!", :property => "og:description"}/

		-#Favicon Options:
		-#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
		-#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>

		= stylesheet_link_tag "site"
		= javascript_include_tag "vendor/modernizr-2.6.1.min"
	%body
		/[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
		%header
		.nav-bar-phone
			.nav-collapse-btn-phone.icon-menu
			.nav-bar-phone-inner
				= page_title
		.nav
			.nav-collapse-btn.icon-arrow-right
			.nav-wrapper
				.nav-inner
					%h4= link_to 'Start', '#top'
					%h4= link_to 'Vad är THS Armada', '#om'
					%h4= link_to 'Vad innebär det att vara en del av THS Armada', '#thsarmda'
					%h4= link_to 'Marknadsföring, Kommunikation och System', '#media-kommunikation-system'
					%ul
						%li= link_to 'Applikationsutvecklare (4 st)', '#app-utv'
						%li= link_to 'Backend-utvecklare (1 st)', '#back-end'
						%li= link_to 'Frontend-utvecklare (1 st)', '#front-end'
						%li= link_to 'Systemutvecklare (4 st)', '#system'
						%li= link_to 'Kampanjkoordinator (2 st)', '#kampanj-koordinator'
						%li= link_to 'Fotogruppledare (1 st)', '#foto-gl'
						%li= link_to 'Kampanj: Filmskapare (1 st)', '#kampanj-filmskapare'
						%li= link_to 'Grafisk formgivare (2 st)', '#grafisk-formgivare'

					%h4= link_to 'Näringsliv och Event', '#naringsliv-event'
					%ul
						%li= link_to 'Bankett: Logistikgruppledare (1 st)', '#log-bankett'
						%li= link_to 'Bankett: Inrednings- och Inköpsgruppledare (1 st)', '#inredning-bankett'
						%li= link_to 'Bankett: Eventteknikkoordinator (1 st)', '#event-bankett'
						%li= link_to 'Bankett: Underhållningsgruppledare (1 st)', '#underhallning-bankett'
						%li= link_to 'Bankett: Filmgruppledare (1 st)', '#filmgl-bankett'
						%li= link_to 'Eventgruppledare (5 st)', '#event'
						%li= link_to 'Sponskoordinator (2 st)', '#spons'
						%li= link_to 'Loungegruppledare (2 st)', '#lounge'
						%li= link_to 'Servicegruppledare (2 st)', '#service'

					%h4= link_to 'Logistik och Mässa', '#logistik-massa'
					%ul
						%li= link_to 'Mässgruppledare (15 st)', '#mass-gl'
						%li= link_to 'Specialstyrkan: Logistikgruppledare (1 st)', '#spec-log'
						%li= link_to 'Specialstyrkan: Teknikgruppledare (1 st)', '#spec-tek'
						%li= link_to 'Representationsgruppledare (1 st)', '#rep-gl'
						%li= link_to 'Representationssittningsgruppledare (1 st)', '#representationssittning'
					%h4= link_to 'Ansök här!', '/ansokan'
		.nav-bg

		%div{:role => "main", :class => "main"}= yield
		%footer
		
		= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
		:javascript
			window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
		= javascript_include_tag "vendor/jquery-ui-1.10.2.custom.min"
		= javascript_include_tag "vendor/enquire.min"
		= javascript_include_tag "vendor/jquery.scrollTo-1.4.3.1-min"
		= javascript_include_tag "vendor/jquery.localscroll-1.2.7-min"
		= javascript_include_tag "vendor/jquery.mousewheel"
		= javascript_include_tag "vendor/zepto.min.js"
		= javascript_include_tag "vendor/retina"
		= javascript_include_tag "site"

		:javascript
			var _gaq=[['_setAccount','UA-39403960-3'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
